#-----------------------
# Directories
#-----------------------
amns/
iter/
jet/
modules/
runs/

ero2/build/
ero2/CMakeFiles/
ero2/masterfile/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#-----------------------
# Directories
#-----------------------
amns/
iter/
jet/
modules/
runs/

ero2/build/
ero2/CMakeFiles/
ero2/masterfile/


